/* COLOR NEGRO DE FONDO #181818 
    COLOR MORADO-NEGRO #120e19
    COLOR VERDE #3bed58
    COLOR MORADO-AZUL CLARO #554772
    COLOR BLANCO #f7f7f7
*/

@font-face {
    font-family: "Maven Pro Bold";
    src: url('../fonts/MavenPro-Bold.ttf');
}
@font-face {
    font-family: "Maven Pro Regular";
    src: url('../fonts/MavenPro-Regular.ttf');
}
@font-face {
    font-family: "Lato Bold";
    src: url('../fonts/Lato-Bold.ttf');
}
@font-face {
    font-family: "Lato Light";
    src: url('../fonts/Lato-Light.ttf');
}
/* PARA ARREGLAR EL PROBLEMA DE LOS INPUTS QUE SE EXCEDÍAN EN ANCHO */
:root { box-sizing: border-box; }
*, *::before, *::after, *::marker { box-sizing: inherit; }

ul{
    padding:0;
}
body{
    background-color: #181818;
    color: 	#f7f7f7;
    font-family: "Lato Light" !important;
}
li{
    list-style: none;
}
.App
{
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
    max-width: 100%;
    text-align: left !important;
}
.btn
{
    background: #3bed58;
    color: #f7f7f7;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #554772;
    font-family: 'Maven Pro Regular';
    font-size:16px;
    cursor: pointer;
}
.header
{
    height: 10vh;
    text-align: left;
    padding: 16px 16px 0 0;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 10vh;
}
.header img{
    height: inherit;
}
.header .burger-menu
{
    display:none;
    height: 100%;
    align-items: center;
}
.header .burger-menu img
{
    cursor: pointer;
}
.user-profile-and-chat
{
    width:100%;
    max-width: 300px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 16px;
    height: 100%;
    padding: 16px 0;
    box-sizing: border-box;
}
.chat
{
    display: grid;
    grid-template-rows: 1fr auto;
    border-radius: 8px;
    border: 1px solid #554772;
    padding: 8px;
    overflow: auto;
}
.chat-form
{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
}
.match-and-bet-container
{
    margin: 0 16px 16px 16px;
    border: 1px solid #554772;
    background-color: #120e19;
    border-radius: 8px;
    padding-bottom: 16px;
}
.match-container{
    display: grid;
    grid-template-columns: auto auto 5% 35% 15%;
    align-items: center;    
    padding-top: 16px;
    grid-template-areas: "show-bets team-local vs team-visitor btn-create-bet"
}
.show-bets
{
    color:#3bed58;
    cursor: pointer;
}
.hide-bets
{
    color:#554772;
    cursor: pointer;
}
.show-bets, .hide-bets, .no-bets{
    grid-area: show-bets;
    font-family: "Maven Pro Bold";   
    text-align: left;
    padding-left: 16px;
    font-size: 14px;
}
.team-name, .vs
{
    font-family: 'Lato Bold';
}
.team-local{
    display: grid;
    grid-template-columns: auto 48px;
    grid-template-rows: 48px;
    height: 48px;
    align-items: center;
    grid-area: team-local;
}
.team-local .team-name
{
    text-align: right;
    padding-right: 16px;
}
.team-visitor
{
    display: grid;
    grid-template-columns: 48px auto;
    grid-template-rows: 48px;
    height: 48px;
    align-items: center;
    grid-area: team-visitor;
}
.team-visitor .team-name
{
    text-align: left;
    padding-left: 16px;
}
.team-local img, .team-visitor img {
    height: inherit;
}
.vs
{
    grid-area: vs;
    align-items: center;
    justify-items: center;
    display: grid;
}
.btn-create-bet
{
    margin-right:16px;
    grid-area: btn-create-bet;
}
.bets-container
{
    padding:0;
}
.bet-container
{
    display: grid;
    grid-template-columns: 35% 5% auto auto;
    align-items: center;
}
.bet-opposite
{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto;
}
.bet-opposite img
{
    width: 22px;
}
.bet-quotas-container
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: flex-start;
}
.bet-logo
{
    align-items: center;
    display: grid;
    justify-content: center;
    max-width: 8rem;
}
.bet-logo img
{
    width: 100%;
}
.accept-bet-container
{
    padding-left: 16px;
}
.btn.accept-bet
{
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    background: #554772;
}
.user-profile{
    display: grid;
    grid-template-rows: auto auto auto;
    border: 1px solid #554772;
    border-radius: 8px;
    padding: 8px;
}
.avatar-and-network
{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}
.avatar-and-network img
{
    width: 48px;
}
.user-account
{
    font-size: 12px;
    text-overflow: ellipsis;
}
.second-container
{
    padding: 0 16px 0 0;
    height:100vh;
    max-height:100vh;
    position: sticky;

}
.textbox{
    border-radius: 8px;
    background: #f7f7f7;
    font-family: "Lato Bold" !important;
    color: #554772;
    font-size: 16px;
    padding: 8px;
    resize: none;
    width:100%;
}
.chat textarea.textbox
{
    border-radius: 8px 8px 0 0;
}
.chat .btn
{
    border-radius: 0 0 8px 8px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    /* visibility: hidden;
    opacity: 0; */
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 72px auto;
    padding: 0 32px 32px 32px;
    background: #181818;
    border-radius: 4px;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
    box-shadow: 2px 2px 4px 2px rgb(59 237 88 / 66%);
  }
  .popup .header
  {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;  
      margin: 0;  
      padding: 0;
  }
  .popup h2 {
    margin: 0;
    color: #3bed58;
  }
  .popup .close {
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #3bed58;
    cursor: pointer;
  }
  .popup .close:hover {
    color: #554772;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
.btn-container
{
    display: grid;
    justify-content: flex-end;
}
.accept-description-container{
    display: grid;
    grid-template-columns: auto auto auto;
}
.accept-description
{
    display: grid;
    grid-template-columns: auto 1fr;
}
@media(max-width: 1024px){
    .second-container
    {
        display: none;
    }
    .header .burger-menu{
        display:grid;
        grid-template-columns: auto auto;
        column-gap: 16px;
        grid-template-rows: 100%;
    }
}

@media(max-width: 768px){
    .match-container
    {
        grid-template-columns: 40% 20% 40%;
        row-gap:8px;
        grid-template-areas:
                        " team-local vs team-visitor "
                        " show-bets show-bets btn-create-bet ";
                                
    }
    .show-bets, .hide-bets, .no-bets
    {
        text-align: left;
        padding-left: 16px;
    }
    .header {
        height: 10vh;
        grid-template-rows: 10vh;
    }
    .bet-container {
        grid-template-columns: auto auto auto auto;
        padding: 4px 8px;
    }
    .popup{
        width: 70%;
    }
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #181818;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    width: 4px;
    max-height:32px;
    background: #3bed58;
    border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #554772;
  }

  
  